<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
<ul class="menu">
    <li class = "menu">
        nnnguyenhoa
    </li>
    <li class = "menu">
        |
    </li>
    <li class="menu">
        <a href="./home.html">
            Home
        </a>
    </li>
    <li class="menu">
        <a href="./resume.html">
            Resume
        </a>
    </li>
    <li class="menu">
        <a href="./about.html">
            About
        </a>
    </li>
    <li class="menu">
        <a href="./contact.html">
            Contact
        </a>
    </li>
</ul>
