<html>
	<head>
		<title>

		    {% block title %}
		        nnnguyenhoa
		    {% endblock %}

	    </title>
	    <!--<meta http-equiv="refresh" content="5">-->
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<meta name="google-site-verification" content="TyFHW3aiNSqK98xIPBn-KtDUa_cENEu7ODafXOafYJo" />
		<meta name="keywords" content="Hoa Nguyen,Software Engineer,Software Developer,Linguistics,Linguist,UCSC,University of California, Santa Cruz, Hoa Thi Nguyen, nnnguyenhoa@yahoo.com, nnnguyenhoa, NLP, Natural Language Processing, Machine Learning, Computational Linguistics, Artificial Intelligence, AI">
		<link rel="stylesheet" type="text/css" href="../static/stylesheet.css"/>
	</head>
	<body>
	    <script type="text/javascript"> //<![CDATA[
  		var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
  		document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
	//]]></script>
	     <script language="JavaScript" type="text/javascript">
  		TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_lg_222x54.png", "POSDV", "none");
	     </script>

	    {% include 'banner.html' %}

	    {% block content %}
	    {% endblock %}

	    {% include 'footer.html' %}

	</body>
</html>
