<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
{% extends 'base.html' %}

{% block title %}
    Contact - Hoa Nguyen
{% endblock %}

{% block content %}
	<div class="contact">
		<h5 class = "form"> Hello There! <h5>
		<br>
		<p class = "form"> 
			Thank you for your interest! I am happy to hear from you and/or answer any questions you may have! I will generally reply as soon as possible or within 24 hours at most. If you don't hear back from me by then, please feel free to send another email! 
		</p>
		<form action="{{ url_for('contact')}}" method="POST">
			<input class = "form"
				   type="text"
			       id="name" 
			       name="name" 
			       placeholder="Your Name">
			<br>
			<input class = "form"
				   type="text"
				   id="email" 
				   name="email" 
				   placeholder="Your Email">
			<br>
			<textarea class = "message"
					  rows="5"
					  cols="80"
			          type="text"
			          id="message" 
			          name="message"
			          placeholder="Your Message"></textarea>
			<br>
			<input class="submit" type=submit>
			<br>
        	<!--<a class = "submit" href="mailto: nnnguyenhoa@yahoo.com">Email Me?</a>
        	<p class = "footnote">
        		*This part is still under construction and will be altered when I figure out how to use Google API
        	</p>-->
		</form>
	</div>
{% endblock %}