<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
{% extends 'base.html' %}

{% block title %}
    Hoa Nguyen's Blog
{% endblock %}

{% block content %}
	<div>
		<div class = "blog">
			<div class = "post">
				<h5>
					{{post.title}}
					<div class = "bottomline"></div>
				</h5>
				<hr>
				{% for content in post.content: %}
					<br>
					{% if "p" in content %}
						<p>{{post.content[content]}}</p>
					{% elif "img" in content %}
						<img src="data:image/jpg; base64,{{post.content[content] | decode}}" 
					 		 alt="image failed"
							 class="post_image">
					{% endif %}
				{% endfor %}
			</div>
			<br>
		</div>
		{%include 'about.html' %}
	<div>
{% endblock %}