{% extends 'base.html' %}

{% block title %}
    Hoa Nguyen's Blog
{% endblock %}

{% block content %}
	<div>
		<div class = "blog">
			{% for post in Posts: %}
				<div class = "post">
					<h5>{{post.title}}</h5>
					<hr>
					{% for content in post.content: %}
						<br>
						{% if content == "p" %}
							<p>{{post.content.p}}</p>
						{% elif content == "img" %}
							<img src="data:image/jpg; base64,{{post.content.img | decode}}" alt="image failed">
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		{%include 'about.html' %}
	</div>
{% endblock %}
