<link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
<div class = "post">
	<h5>
		{{post.title}}
		<div class = "bottomline"></div>
	</h5>
	<hr>
	{% for content in post.content: %}
		{% if loop.index < 4 %}
			<br>
			{% if "p" in content %}
				<p>{{post.content[content]}}</p>
			{% elif "img" in content %}
				{% set img = content %}
				<img src="data:image; base64,{{post.content[img] | decode}}" 
				 	 alt="image failed"
				 	 class="post_image">
				<br>
			{% endif %}
		{% endif %}
	{% endfor %}
	<form action="{{ url_for('readmore',post_id=post._id)}}">
		<button class = "readmore" type="submit" value="Read More">Read More</button>
	</form>
</div>
<br>